<h1><%= title%></h1>
<div class="formcontainer">
  <form action="/changestatus" method="POST">
    <div class="mb-3">
      <label for="status" class="form-label">Code:</label>
      <input name="status" type="status" class="form-control" />
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
  </form>
</div>
