<h1><%= title%></h1>
<h2>Do you really want to delete the message?</h2>
  <form action="" method="POST">
      <input
        id="messageid"
        type="hidden"
        name="messageid"
        value="<%= message._id %>"
      />

    <input type="submit" value="DELETE" class="btn btn-outline-danger" />
  </form>
</div>
