<h1><%= title%></h1>
<div class="formcontainer">
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        name="username"
        placeholder="Username"
        type="text"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" />
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
  </form>
</div>
