<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
  </head>
  <body>
    <header><%- include("./partials/header"); %></header>
    <main>
      <h1>Sign Up Form</h1>

      <form method="POST" action="">
        <label for="input">Input:</label>
        <input type="text" id="input" name="input" />
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer><%- include("./partials/footer"); %></footer>
  </body>
</html>
