<!DOCTYPE html>
<html>
  <head>
    <%- include("./partials/head"); %>
  </head>
  <body>
    <div class="site">
      <header><%- include("./partials/header"); %></header>
      <main><%- include("./partials/sign_up_form"); %></main>
      <footer><%- include("./partials/footer"); %></footer>
    </div>
  </body>
</html>
